<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Key0" value="Value0" />
    <add key="DateTimeCustomFormat" value="dddd, dd MMMM yyyy HH:mm:ss" />

    <!-- Feature Enabled Configurations -->
    <add key="ReplaceFile_Enabled" value="true" />
    <add key="ReplaceFolder_Enabled" value="true" />
    <add key="SendNotification_Enabled" value="false" />

    <!-- Web Config Manipulation Configurations -->
    <add key="FileNameToReplace" value="Web.config" />
    <add key="SourceFilePath" value="C:\Test\Source\Web.config" />
    <add key="TargetFilePath" value="C:\Test\Target\Web.config" />
    <add key="BackUpFilePathDirectory" value="C:\Test\Backup" />
    <add key="FileIsReplacedFlag" value="C:\Test\Target\WebConfigIsReplacedFlagFile.txt" />

    <!-- Elastic Search Manipulation Configurations -->
    <add key="ESServiceName" value="elasticsearch-service-x64.exe" />
    <add key="W3SVCServiceName" value="W3SVC" />
    <add key="SourceFolderPath" value="C:\Test\Source\MyFolderWithSomeData" />
    <add key="TargetFolderPath" value="C:\Test\Target\MyFolderWithSomeData" />
    <add key="BackUpFolderPathDirectory" value="C:\Test\Backup" />
    <add key="FolderIsReplacedFlag" value="C:\Test\Target\ElasticSearchFolderIsReplacedFlagFile.txt" />
    <add key="FolderIsReplacedFlagAtSameFolderLevel" value="C:\Test\Target\MyFolderWithSomeData\ElasticSearchFolderIsReplacedFlagFile.txt" />

    <!-- Email Server Details For Notification-->
    <!--<add key="EmailServer" value="smtp.sendgrid.net" />-->
    <add key="EmailServer" value="smtp.gmail.com" />
    <add key="EmailServerPort" value="587" />
    <add key="EmailUserName" value="iamfortesting193@gmail.com" />
    <add key="EmailPassword" value="********" />
    <add key="EmailSubject" value="Quick CleanUp Completed. WebConfig, Elastic Search 0 Folder are Being Replaced and Mail Sent........" />
    <add key="EmailBody" value="You can chill now!" />
    <add key="EmailSignature" value="For Testing Only" />
    <add key="EmailTo" value="iamfortesting193@gmail.com;" />
    <add key="EmailCC" value="iamfortesting193@gmail.com;" />
    <add key="EmailBCC" value="" />

  </appSettings>
</configuration>